<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:TenantID" value="fa54dbd8-cc49-4e60-9bd8-3cfb84b7fd91" />
    <add key="ida:TestAppClientId" value="ea7879ea-686a-42d4-b008-d17f8a80d052" />
    <add key="ida:TestAppClientSecret" value="dxA0bY1jIVHyPvqpDkTcAkQdIWSPlFbL/M+9E/DEVlI=" />
    <add key="InvitedUserEmailAddress" value="nickpinheiro@gmail.com" />
    <add key="InvitedUserDisplayName" value="John Doe" />
    <add key="SendGridAPIKey" value="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" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
