<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:TenantID" value="fa54dbd8-cc49-4e60-9bd8-3cfb84b7fd91" />
    <add key="ida:TestAppClientId" value="9cefa4c3-6923-4520-b30e-d883da44faa4" />
    <add key="ida:TestAppClientSecret" value="ykysNKjyAhXCpHDZXvUGjWzJBw7GTghjBZy2UBx3SAM=" />
    <add key="InvitedUserEmailAddress" value="nickpinheiro@gmail.com" />
    <add key="InvitedUserDisplayName" value="John Doe" />
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
